@import 'variables'

.header
    @include header-footer
    background: linear-gradient(135deg, #5B5A59 0%, #535251 100%)
    box-shadow: -5px 5px 10px rgba(78, 77, 77, 0.2), 5px -5px 10px rgba(78, 77, 77, 0.2), -5px -5px 10px rgba(96, 95, 94, 0.9), 5px 5px 13px rgba(78, 77, 77, 0.9), inset 1px 1px 2px rgba(96, 95, 94, 0.3), inset -1px -1px 2px rgba(78, 77, 77, 0.5)
    margin-bottom: 20px
    &__title
        color: #e3c8c8
        text-decoration: none
        font-size: 28px
        &:hover
            text-decoration: underline
    &__user,
    &__user__closed
        background: url("../img/arrow-up.svg") no-repeat right center 
        @include transition
        display: block
        min-width: 35px
        height: 30px
        cursor: pointer
        margin-top: 8px
        position: relative
        padding: 16px
        &__closed
            background: url("../img/arrow-down.svg") no-repeat right center
    &__user-menu,
    &__user-menu__closed
        display: block
        text-align: left
        position: absolute
        top: 60px
        right: -1px
        opacity: 1
        visibility: visible
        @include transition
        background-color: #e3c8c8
        border-radius: 5px
        padding: 8px
        min-width: 120px
        min-height: 46px
        font-size: 0.875rem
        box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.3)
        &__closed
            opacity: 0
            visibility: hidden
            pointer-events: none
            cursor: default
            @include transition
        &::before
            content: url(../img/rombik.svg)
            position: absolute
            top: -8px
            right: 31px
        &__li
            list-style: none
            margin: 3px 0
            &__a
                color: #535251
                &:hover
                    text-decoration: underline

